doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='javascripts/vendor/require.js', data-main='javascripts/main')
    script(src='http://localhost:35729/livereload.js')
  body
    block content