#page-login.container.page-login
  .row
    .col-xs-12
      form.form-signin(role='form', novalidate='novalidate')
        .form-group
          h2.form-signin-heading Registration
        .form-group
          input.form-control.login(type='text', name='email', placeholder='Nickname', autofocus='autofocus')
        .form-group
          input.form-control.password(type='password', name='password', placeholder='Password')
        //- .form-group
        //-   input.form-control.password(type='password', placeholder='Repeat password')
        .form-group
          button.btn.btn-primary.btn-block(type='submit') Register