//
   Created by Tserkovniy on 16.02.14.

#page-start.container.page-start
    .row
        .col-xs-12
            h1 Hi there! I am glad to see you here.
            p Choose option:
            .holder
                a(href='login', role='button').btn.btn-success.login Login
                a(href='registration', role='button').btn.btn-primary.register Registration