doctype html
html
    head
        meta(charset="UTF-8")
        title Backbone education
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="css/vendor.css")
        script(type="text/javascript",src="js/vendor.js")
        script(type="text/javascript").
            app = {};
            app.models = {};
            app.collections = {};
            app.views = {};
        |<script type="text/javascript" src="js/app!{appjs}.js"></script>
        |<link rel="stylesheet" href="css/app!{appcss}.css"/>
        script(type="text/javascript",src="//localhost:35729/livereload.js")
    body(id="app")